.maincont{
    margin-left: 350px;
}
.maincont h3{
    margin-left:23%;
    margin-top:20px;
    font-size: 30px;
    font-weight: bold;
    color: #BA704F;
}
.options label{
    margin-right:20px;
    font-size:25px;
}
.options input{
  height:30px;
  width:300px;
  outline: 0;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.options{
    margin-left:20px;
    margin-bottom: 5px;
    padding: 5px;
}
button{
    height:45px;
    width:357px;
    margin-top: 25px;
    margin-left: 100px;
    outline: 0;
    background-color: #BA704F;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

input[name='school']{
    margin-left: 90px;
}
select[name='degree']{
    margin-left: 45px;
    height:40px;
    width:307px;
    outline: 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
input[name='field_of_study']{
margin-left: 30px;
}
input[name='start_date']{
    margin-left: 90px;
    }
input[name='end_date']{
margin-left: 0px;
}
input[name='gpa']{
    margin-left: 195px;
}

