body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FAF3F0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
     margin:0;
}

.logo{
  display: inline-flex;
  flex-direction: row;
  margin-left:45%;
  margin-top: 20px;
  align-items: center;
}

.logo span{
  color:#4477CE;
  font-weight:bold;
  font-size:30px;
  margin-top:5px;;
  margin-right: 0px;
  padding: 2px;
}
.logo svg{
   padding:2px;
   margin-left: 0px;
}

.signup_form{
  margin-left:36%;
}

.element{
  display: flex;
  flex-direction: column;
  gap:5px;
  margin-bottom: 10px;
}
.element input{
  height:40px;
  width:350px;
  outline: 0;
  margin-top: 7px;
  font-size: 15px;
}
.element label{
  
    font-weight: normal;
    font-size: 25px;
}

button{
  height:45px;
  width:357px;
  margin-top: 25px;
  outline: 0;
  background-color: #BA704F;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

input::placeholder {
  font-size: 16px; 
  font-family: 'Courier New', Courier, monospace;
  color: #999; 
}