.content img{
    height:300px;
    width:400px;
    margin-left: 20%;
}
.content{
    margin-left:200px;
}
.content h2{
    margin-left:20%;
    margin-top:20px;
    font-size: 40px;
    color: #BA704F;
  }

  .content p{
       margin-left: 20%;
       font-size: 25px;
       font-weight:lighter;
       padding:5px;
  }
  button{
    height:45px;
    width:400px;
    margin-top: 25px;
    margin-left: 20%;
    outline: 0;
    background-color: #BA704F;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

.content .Avat{
    margin-left: 35%;
}