.maincont{
    margin-left: 350px;
}
.maincont h3{
    margin-left:20%;
    margin-top:20px;
    font-size: 30px;
    font-weight: bold;
    color: #BA704F;
}
.options label{
    margin-right:20px;
    font-size:25px;
}
.options input{
  height:30px;
  width:300px;
  outline: 0;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.options{
    margin-left:20px;
    margin-bottom: 5px;
    padding: 5px;
}
button{
    height:45px;
    width:357px;
    margin-top: 25px;
    margin-left: 100px;
    outline: 0;
    background-color: #BA704F;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

input[name='job_title']{
    margin-left: 18px;
}
input[name='company']{
margin-left: 48px;
}
textarea[name='start_date']{
margin-left: 100px;
}
input[name='description']{
margin-left: 75px;
}